/* Laptop */

@media (max-width:1024px){

.container{
    width:90%;
}

.left{
    padding:40px;
}

}

/* Tablet */

@media (max-width:768px){

.container{
    width:92%;
    grid-template-columns:1fr;
}

.left{
    padding:40px 25px;
}

.right{
    padding:35px 25px;
}

}

/* Mobile */

@media (max-width:480px){

body{
    padding:20px;
}

.container{
    width:100%;
    border-radius:15px;
}

.left{
    padding:30px 20px;
}

.right{
    padding:30px 20px;
}

.left h1{
    font-size:26px;
}

.input-box input{
    padding:14px 14px 14px 45px;
}

button{
    padding:14px;
}

}